<nav class="navbar navbar-expand-md bg-light shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo.webp" alt="Lets-Out Logo" class="logo-img me-2">
      <span class="brand-text">Lets-Out</span>
    </a>
    
    <button class="navbar-toggler border-0 p-2 rounded-circle shadow-sm" 
    type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" 
    aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" aria-current="page" href="/">
          <i class="fas fa-home me-1"></i> Home
        </a>
        <a class="nav-link" href="/listings">
          <i class="fas fa-list me-1"></i> All Listings
        </a>
        <a class="nav-link" href="/listings/new">
          <i class="fas fa-plus me-1"></i> Add Listing
          <div class="ms-3 d-flex align-items-center">
            <a href="/signup" class="btn btn-primary signup-button">
              <i class="fas fa-user-plus me-2"></i>Sign Up
            </a>
          </div>
        
      </div>
    </div>
  </div>
</nav>

