<% layout("layouts/boilerplate") %>
<br><br>
    <div class="row">
        <div class="col-8 offset-2">

            <body>
                <h3>Create your new listing</h3>
                <form action="/listings" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>

                        <input type="text" name="listing[title]" placeholder="Name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea name="listing[description]" placeholder="Enter description"
                            class="form-control"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-lable">Image</label>
                        <input type="text" class="form-control" name="listing[image][url]"
                            placeholder="Enter Image URL/Link">
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable">Price</label>
                            <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control">
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-lable">Country</label>
                            <input type="text" name="listing[country]" placeholder="Enter country name"
                                class="form-control">
                        </div>
                    </div>



                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control">
                    </div>




                    <button type="submit" class="btn btn-dark ">Add</button>
                    <br><br><br>
                </form>
            </body>
        </div>
    </div>