<% layout("layouts/boilerplate") %>

<body>
    <h3>Create your new listing</h3>
    <form action="/listings" method="POST">
        <p><strong>Title:</strong>
        <input type="text" name="listing[title]" placeholder="Name" required>
        <br>
    </p>
        <p><strong>Description:</strong>
        <textarea name="listing[description]" placeholder="Enter description" ></textarea>
        <br>
    </p>

    <p><strong>Image:</strong>
        <input type="text" name="listing[image]" placeholder="Enter Image URL/Link" >
        <br>
    </p>
        <p><strong>Price:</strong>
        <input type="number" name="listing[price]" placeholder="Enter Price" required>
        <br>
      </p>

        <p><strong>Country:</strong>
        <input type="text" name="listing[country]" placeholder="Enter country name" required>
        <br>
    </p>
        <p><strong>Location:</strong>
        <input type="text" name="listing[location]" placeholder="Enter location" required>
         </p>

        <br><br>
        <button type="submit">Add</button>
    </form>
</body>
