body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;

}
.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: rgb(255, 255, 255) !important;
}

.nav-link{
    color: #222222 !important;
}


.navbar-brand img{
    width: 40px;
    height: 40px;
    border-radius: 50%; ;

}


.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0;
}
.cards {
    border: none !important;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* Improve card appearance */
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Hover effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white
}


.f-info-links a {
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover {
     text-decoration: underline;
     
}
.f-info-links,.f-socials,.f-info-brand {
    width: 100%;
   display: flex;
   align-items: center;
    justify-content: center;
}

.f-info-brand{
    font-size: 1rem;
    font-weight: 600;
}

.f-socials i {
   
    font-size: 1.3rem;
    margin-right: 1rem;
  
}

.f-socials i:hover {
    transform: scale(1.2);
    transition: 0.3s;

}

.f-info{
    
    text-align: center;
    height: 8rem;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    background-color: #dcdcdd;
}

.like{
    color: white;
    font-size: 20px
}

.like:hover{
    color: red;
    transition: 0.3s;
    z-index: 1;


}